
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');



body{
    -webkit-appearance: none;
    background-color:hsl(0, 0%, 94%);
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    font-family: 'Poppins', sans-serif;
}
.main{

    /* color */
    background-color: hsl(0, 0%, 100%) ;
    
    /* border */
    border-radius: 20px 20px 100px 20px;
    padding: 2rem;

    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}

span{
    color: hsl(259, 100%, 65%);
    font-weight: 700;
    font-size: 32px;
    font-style: italic;

}
.birthdayDate{
    display: flex;
    justify-content: space-between;
}





.exacteAge > p{
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
}
.exacteAge > span{
    font-weight: 800;
    

}

input{
    width: 15%;
    height: 30px;

    -webkit-box-shadow:;
    box-shadow: none;
    border-width: 0.2px;
    border-radius: 5px;
    border-color:hsl(0, 0%, 86%);
}

.birthDayDate{
    font-size: 9px;
    display: flex;
}




/*Get's rid of the arrows on the input[number] */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

