
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');



body{
    -webkit-appearance: none;
    background-color:hsl(0, 0%, 94%);
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 40%;
    height: 40%; 
    

    /* color */
    background-color: hsl(0, 0%, 100%) ;
    
    /* border */
    border-radius: 20px 20px 120px 20px;
    padding: 2rem;

    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}

span{
    color: hsl(259, 100%, 65%);
    font-weight: 700;
    font-size: 32px;
    font-style: italic;

}
.birthdayDate{
    display: flex; 
    
}





.exacteAge > p{
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
}
.exacteAge > span{
    font-weight: 800;
    font-size: 60px;
    

}

input{
    width: 60%;
    height: 40px;

    -webkit-box-shadow: none;
    box-shadow: none;
    border-width:0.01px;
    border-radius: 6px;
    border-color:hsl(0, 0%, 86%);
    padding: 3%;  
    margin-bottom: 15%;
    margin-top: 2%;
    padding-left:20px;

    font-weight: 800;
    font-size: large;
    
}

.birthDayDate{
    font-size: 9px;
    display: flex;
}

label{
    margin-top: 2em;
    color: hsl(0, 1%, 44%);
    letter-spacing: .2em;
}

button{
    width: 15%;
    padding: 3%;
    background-color: hsl(259, 100%, 65%) ;

    border-color: hsl(259, 100%, 65%);
    border-radius:50% ;
}

.line{
    width: 300px;
    background-color: saddlebrown;
    height: 1px;
}



/*Get's rid of the arrows on the input[number] */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Interactivity */

input:hover{
    cursor:pointer ;
    
}

input:focus{
    border: 3px  hsl(259, 100%, 65%) ;
}